@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
body{
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-weight: 700;
    font-size: 24px;
    margin: 20 auto;
}
p{
    font-weight: 400;
    font-size: 16px;
}
.blue{
    color: #0042EB;
    border-left: 2px solid #0042EB;
    padding-left: 10px;
}
.git{
    margin: 50px 0;
}
ul{
    padding-left: 0;
}
li{
    list-style: none;
    margin: 20 auto;
    padding: 8px 15px;
}
.git__list{
    padding-left: 0;
}
.git__item{
    margin-bottom: 10px;
    padding: 10px 0 10px 10px;
    position: relative;
}
.git__item span:nth-of-type(1){
    color: #960796;
}
.git__item span:last-of-type{
    color: #3AB19B;
}
.git__item::before{
    content: '';
    width: 1px;
    height: 100%;
    background-color: #960796;
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
}